# OS
.DS_Store
Thumbs.db

# Editores / IDEs
.vscode/
.idea/

# Logs
*.log

# Variables de entorno
.env
.env.local

# Vercel
.vercel/

# Dependencias (por si en el futuro se suma tooling)
node_modules/
